{% extends 'base_admin.html' %}
{% load static %}
{% block title %} Changes System {% endblock %}
{% block content %} 
<section class="table-section">
    <h2>Changes Occur</h2>
    <table>
      <thead>
        <tr>
          <th>System Number</th>
          <th>Failed Part</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Level of Change</th>
          <th>is_Failed</th>
        </tr>
      </thead>
      <tbody>
        {% for sys in all_systems_change %}
        <tr>
          <td>{{ sys.id }}</td>
          <td>{{ sys.failed_type.name }}</td>
          <td>{{ sys.temperature_change }}</td>
          <td>{{sys.humidity_change}}</td>
          <td class="high">{{ sys.status }}</td>
          <td>{{ sys.failed }}</td>          
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}